html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow:hidden;
}
div {
  position:fixed;
  bottom:5px;
  display:block;
  width:100vw;
  text-align:center;
  font-family: 'Luckiest Guy', cursive;
  color:#ffffff16;
  letter-spacing:.2vmin;
  font-size:6vmin;
}
